{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de l'utilisateur {{ app.user.username }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(changePasswordForm) }}
                {{ form_widget(changePasswordForm) }}
            {{ form_end(changePasswordForm) }}
        </div>
    </div>
</div>
{% endblock %}

