@import "~bootstrap/dist/css/bootstrap";

html {
    margin: 0 50px;
}

h3 {
    color:green;
}

#notfound {
    display: none;
}

#track-form {
    display: none;
}

.track-genre {
    text-transform: capitalize;
} 