{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}

<div>
    {{ form_start(contactForm) }}
    {{ form_widget(contactForm) }}

    <input type="submit" value="Envoyer" class="btn btn-success">
     {# formnovalidate="formnovalidate" #}

    {{ form_end(contactForm) }}
</div>

{% endblock %}
