{% block flash_messages %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                {{ message | raw }}             <button type="button" class="close-fm-button" data-dismiss="alert"><i class="fas fa-times"></i><span class="sr-only">Fermer</span></button>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}