{% extends 'base.html.twig' %}

{% block body %}
    <h1>Homepage</h1>
    <a class="q-title" href="{{ path('app_question_show', { slug: 'new-article' }) }}"><h2>Voir l'article</h2></a>
{% endblock %}
