{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <p class="d-inline">{{ articleText }}</p>
    {% foreach articles as article %}
        {{ article.title }}
        {{ article.content }}
        {{ article.postDate }}
    {% endforeach %}

    
    {% endforeach %}
{% endblock %}
